<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              id="firstName"
              class="form-control"
              ngModel
              name="firstName"
              required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              id="lastName"
              class="form-control"
              ngModel
              name="lastName"
              required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input
              type="number"
              id="phoneNumber"
              class="form-control"
              ngModel
              name="phoneNumber"
              required
              phoneNumber
              #phoneNumber="ngModel">
          </div>
      <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Submit</button>
        </form>
    </div>
  </div>
  <div class="row">
    <div class="col-l-12">
      <label for="fileUpload">Upload your Picture</label>
      <input class="fileUpload" type="file" (change)="onFileSelected($event)">
      <button type="button" (click)="onUpload()">Upload</button>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>firstName: {{ user.firstName }}</p>
      <p>lastName: {{ user.lastName }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Phone Number: {{ user.phoneNumber }}</p>
    </div>
  </div>
</div>
